<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Betis Balompié</title>
      <link rel="icon" type="image/x-icon" href="../faviconbetis.png">
      <link  rel="stylesheet" href="../css/styles.css">
</head>
<body>
      <header>
        <h1>------------------------REAL BETIS BALOMPIÉ-------------------------</h1>
        <nav>
            <a href="../index.html"> INICIO</a>
            <a href="./producto.html"> PRODUCTO</a>
            <a class="active" href="#"> CONTACTO</a>
            <a href="./presupuesto.html"> PRESUPUESTO</a>
        </nav>
    </header>
    <main>
        <h3>
             Oficinas atención al bético
        </h3>
       
        <p>
            Horario: <br>
            Lunes a Jueves: 10:00 a 14:00 y de 16:00 a 19:00. <br>
            Viernes: 10:00 a 14:00. <br>
        </p>
        <h3>
            Taquillas
        </h3>
        <p>
            Taquillas sólo abre los días de partidos 2 horas antes <br> del comienzo del encuentro.
        </p>
        <h3>
            Oficinas del estadio
        </h3>
        <p>
            De lunes a jueves, de 9:00 a 14:00 y de 16:00 a 19:00. <br>
            Viernes, de 9:00 a 14:30.
        </p>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5293.940508978699!2d-5.984286625018038!3d37.35649643614579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126e7f03d8309f%3A0x5c813182e6db9555!2sEstadio%20Benito%20Villamar%C3%ADn!5e1!3m2!1ses!2ses!4v1747246942241!5m2!1ses!2ses"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </main>
    <footer>
         <p>&copy; 2025 Real Betis Balonmpié</p>
         <p>Estadio Benito Villamarín
            Avda. de Heliópolis s/n, 41012 Sevilla</p>
         <div>
         <a href="https://www.instagram.com/realbetisbalompie/?hl=es" target="_blank">
            <img class="icono1" src="../assets/images/Instagram_logo_2022.svg.webp" alt="icono1">
        </a>
        <a href="https://x.com/RealBetis?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
            <img class="icono2" src="../assets/images/twitter1.png" alt="icono2">
        </a>
       </div>
    </footer>
      
</body>
</html>