<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Betis Balonmpié</title>
    <link rel="icon" type="image/x-icon" href="../faviconbetis.png">
    <link  rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h1>------------------------REAL BETIS BALOMPIÉ-------------------------</h1>
        <nav>
            <a href="../index.html"> INICIO</a>
            <a class="active" href="#"> PRODUCTO</a>
            <a href="./contacto.html"> CONTACTO</a>
            <a href="./presupuesto.html"> PRESUPUESTO</a>
        </nav>
    </header>
    <main>
        <h2>Tienda</h2>
        <div class="container-items">
            <div class="item">
                <figure>
                    <img src="../assets/images/camilocal.webp"  alt="camiseta1">
                </figure>
                <div class="info-product">
                    <h3>Camiseta local 24/25</h3>
                    <p class="price">79€</p>
                    <button>Añadir al carrito</button>
                 </div>
            </div>
            <div class="item">
                <figure>
                    <img src="../assets/images/camivist.jpg"  alt="camiseta2">
                </figure>
                <div class="info-product">
                    <h3>Camiseta visitante 24/25</h3>
                    <p class="price">73€</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img src="../assets/images/balon.webp"  alt="balon">
                </figure>
                <div class="info-product">
                    <h3>Balón 24/25</h3>
                    <p class="price">21€</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img src="../assets/images/gorra.webp"   alt="gorra">
                </figure>
                <div class="info-product">
                    <h3>Gorra 24/25</h3>
                    <p class="price">18,50€</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img src="../assets/images/bufanda.webp"   alt="bufanda">
                </figure>
                <div class="info-product">
                    <h3>Bufanda edición 24/25</h3>
                    <p class="price">12€</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
             <div class="item">
                <figure>
                    <img src="../assets/images/neon.jpg"   alt="neon">
                </figure>
                <div class="info-product">
                    <h3>Escudo de neón</h3>
                    <p class="price">15,95€</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
             <div class="item">
                <figure>
                    <img src="../assets/images/palmerin.jpg"   alt="palmerin">
                </figure>
                <div class="info-product">
                    <h3>Palmerín</h3>
                    <p class="price">7,99€</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
             <div class="item">
                <figure>
                    <img  src="../assets/images/gemelos.jpg"   alt="gemelos">
                </figure>
                <div class="info-product">
                    <h3>Gemelos de plata</h3>
                    <p class="price">46,95€</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
             <div class="item">
                <figure>
                    <img src="../assets/images/taza.webp"   alt="taza">
                </figure>
                <div class="info-product">
                    <h3>Taza</h3>
                    <p class="price">11,99€</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
             

        </div>
        

        

    </main>
    <footer>
        <p> &copy; 2025 Real Betis Balonmpié</p>
        <p>Estadio Benito Villamarín
        Avda. de Heliópolis s/n, 41012 Sevilla</p>
        <div>
         <a href="https://www.instagram.com/realbetisbalompie/?hl=es" target="_blank">
            <img class="icono1" src="../assets/images/Instagram_logo_2022.svg.webp" alt="icono1">
        </a>
        <a href="https://x.com/RealBetis?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
            <img class="icono2" src="../assets/images/twitter1.png" alt="icono2">
        </a>
       </div>
    </footer>
</body>
</html>